table, td {
	border:1px black solid;
}

td {
	padding:5px;
}

h1 {
	float: left;
	margin: 0px 50px 0px 0px;
	padding:0px;
}

a {
	font-size:25px;
}

ul {
	list-style-type:none;
	padding:0px;
}

li {
	float: left;
	margin-right:5px;
}